body{
      font-size: small;
      font-family: Verdana, Helvetica, Arial;
      line-height: 1.6em;}

h1, h2{
        color: #007e7e;}

h1{
    font-size: 1.5em;}

h2{
    font-size: 1.3em;}

.guarantee {
            border-color:white;
            border-width: 1px;
            border-style: dashed;
            background-color: #a7cece;
            padding: 25px;
            margin: 30px;
            font-style: italic;
            color: #444;;
            font-family: Georgia,"Times New Roman";
            line-height: 1.9rem;
            background-image: url(images/background.gif);
            background-repeat: no-repeat;
            background-position: top left;
            padding: 25px;
            padding-left: 80px;
            margin-right: 250px;
            border-color: white;
            border-style: dashed;
            border-top-right-radius: 2em;
            border-bottom-left-radius: 2em;
            }
#footer {
        font-size: 5vw;
        }
.yuan{
        height: 100px;
        width: 100px;
        border-radius: 25px;
        border-style: solid;
        border-radius: 25em;}
